@model IEnumerable<KompetanseModel>

@{
    ViewData["Title"] = "Overview";
}

<h2>Oversikt over kompetanse</h2>
<div class="table-box">

<table>

    <thead>
    <tr>
        <th>Bedrift</th>
        <th>E-postadresse</th>
        <th>Fagområde</th>
        <th>Kompetanse</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var k in Model)
    {
        <tr>
            <td>@(k.Bedrift.Navn)</td>
            <td>@(k.Bedrift.Epost)</td>
            <td>@k.Fagområde.Navn</td>
            <td>@(k.KompetanseNavn)</td>
            <td>@k.Beskrivelse</td>
        </tr>
    }
    </tbody>
</table>
</div>
